$basicFont: 'Hind', sans-serif;
$basicColor: #2c2f3c;

$bodyBg: #fff;
$headerBg: '../img/m-h-day.jpg';
$btnBg: #699900;
$textBg: #14a0c7;
$cardBg: #21232e;
$bannerBg: linear-gradient(45deg, #609021, #315fc9);
$footerBg: #21232e;