$basicFont: 'Fresca', sans-serif;
$basicColor: #fff;

$bodyBg: #21232e;
$headerBg: '../img/m-h-night.jpg';
$btnBg: #e3ac00;
$textBg: #ff4e33;
$cardBg: #3b3f50;
$bannerBg: linear-gradient(45deg, #dfa605, #96324f);
$footerBg: #3b3f50;